test/model/shiporder_import.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<xs:schema xmlns="http://xml4r.org/libxml-ruby/test/shiporder"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xml4r.org/libxml-ruby/test/shiporder">

  <xs:element name="shiporder" type="shiporderFooType"/>
  <xs:complexType name="shiporderFooType">
    <xs:annotation>
      <xs:documentation>Shiporder type documentation for Testing of imported schema</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="orderperson" type="xs:string">
        <xs:annotation>
          <xs:documentation>orderperson element documentation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shipto">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="item" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="note" type="xs:string" minOccurs="0"/>
            <xs:element name="quantity" type="xs:positiveInteger"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="discount" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="orderid" type="xs:string" use="required"/>
    <xs:attribute name="foo" default="1" type="xs:integer" use="optional"/>
    <xs:attribute name="bar" type="xs:string" use="optional"/>
    <xs:attribute name="xyzzy" type="xs:string" use="prohibited"/>
  </xs:complexType>
</xs:schema>
